{% extends "base.html.twig" %}

{% block title %}City Create{% endblock %}

{% block content %}

<div class="">
      <div class="">
        <!-- left column -->
        <div class="">
          <!-- general form elements -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Create Post</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form>
              <div class="card-body">
                
                <div class="form-group">
                  <label for="exampleInputPassword1">Name</label>
                  <input type="text" class="form-control" id="inputname" placeholder="name">
                </div>
                
              </div>
              <!-- /.card-body -->

              <div class="card-footer">
                <button type="submit" class="btn btn-primary" onclick="CreatePost()" id="btnaddd">Create</button>
              </div>
            </form>
          </div>

{% endblock %}