{% extends "base.html.twig" %}


{% block body %}

    <h2>Wellcome</h2>



        <label>Değer</label>
        <input type="text" name="id">
        <button type="submit">sorgula</button>

    <script>

    </script>
{% endblock %}