{% extends "base.html.twig" %}

{% block title %}City List{% endblock %}

{% block content %}    

     <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">City List</h3>

                <div class="card-tools">
                  
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0" style="height: 300px;">
                <table class="table  text-nowrap" >
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Action</th>
                     
                    </tr>
                  </thead>
                  <tbody id="tblist">
                    
                   
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>

     <div class="popup">
      <div class="popup-content">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Post Update</h3>
          </div>
          <!-- /.card-header -->
          <!-- form start -->
          <form>
            <div class="card-body">
              <div class="form-group">
                  <label for="">Id</label>
                  <input type="text" class="form-control" id="updateId" placeholder="id" disabled>
                </div>
              <div class="form-group">
                <label for="">Title</label>
                <input type="text" class="form-control" id="updatename" placeholder="name">
              </div>
              
            </div>
            <!-- /.card-body -->

            <div class="card-footer">
              <button href=""  class="btn btn-primary"  id="updatebtn" onclick="UpdatePost()">Update</button>
              <button class="btn btn-warning"  id="closebtn" onclick="popupClose()">Canel</button>
            </div>
          </form>
        </div>
      </div>
    </div>


{% endblock %}

 